* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    background: #000;
    color: #fafafa;
    font-size: 2rem;
    font-family: 'Rotobo', sans-serif;
    font-weight: bold;
    position: relative;
    outline: none;
    border: none;
}

.container {
    display: grid;
    grid-template-columns: 50% 50% 50% 50% 50% 50% 50%;
    grid-template-rows: 50% ;
}


.new-container {
    display: grid;
    grid-template: 50% 50% 50%  50% 50% / 50% 50% 50% 50% 50%;
}

.brand-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}